## Bengals Notebook
### Mindex Data Engineer Coding Challenge

Utilize boto3 to connect to Mindex AWS S3 bucket and download CSV Files

In [35]:
# Import boto3
import boto3

# Build a client
s3 = boto3.client(
    's3',
    aws_access_key_id = 'AKIAZZ33YB65GZIN656A',
    aws_secret_access_key = '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',
    region_name = 'us-east-1'
)

In [36]:
# Download CSV files from S3
mindex_bucket="mindex-data-analytics-code-challenge"

bengals_file='bengals.csv'
boyd_file='boyd_receiving.csv'
chase_file='chase_receiving.csv'
higgins_file='higgins_receiving.csv'

local_dir=f'C:/Users/Tyler/Documents/AI Project/mindex_code_challenge/mindex_code_challenge/source_data/'

s3.download_file(mindex_bucket,bengals_file,local_dir+bengals_file)
s3.download_file(mindex_bucket,boyd_file,local_dir+boyd_file)
s3.download_file(mindex_bucket,chase_file,local_dir+chase_file)
s3.download_file(mindex_bucket,higgins_file,local_dir+higgins_file)

Use pandas to load each CSV into respective dataframes

In [37]:
# Import pandas library
import pandas as pd

# Read CSV files into dataframes and rename columns to add player names
bengals_df=pd.read_csv(local_dir+bengals_file)
boyd_df=pd.read_csv(local_dir+boyd_file).rename(columns={'Yards': 'Yards_Boyd','TD': 'TD_Boyd'})
chase_df=pd.read_csv(local_dir+chase_file).rename(columns={'Yards': 'Yards_Chase','TD': 'TD_Chase'})
higgins_df=pd.read_csv(local_dir+higgins_file).rename(columns={'Yards': 'Yards_Higgins','TD': 'TD_Higgins'})

Merge all the dataframes into one

In [45]:
import numpy as np

# Merge all dataframes into one main dataframe
merged_df = bengals_df.merge(boyd_df, how='left').merge(chase_df, how='left').merge(higgins_df, how='left')
# Replace the Result column with 'Win' and 'Loss' instead of 1.0 and 0.0
merged_df['Result'] = np.where(merged_df['Result'] == 1.0, 'Win', 'Loss')

,Week,Opponent,Location,Result,Yards_Boyd,TD_Boyd,Yards_Chase,TD_Chase,Yards_Higgins,TD_Higgins
0,PRE1,TB,Away,Win,NaN,NaN,NaN,NaN,NaN,NaN
1,PRE2,WSH,Away,Loss,NaN,NaN,NaN,NaN,NaN,NaN
2,PRE3,MIA,Home,Loss,NaN,NaN,NaN,NaN,NaN,NaN
3,REG1,MIN,Home,Win,32.0,0.0,101.0,1.0,58.0,1.0
4,REG2,CHI,Away,Loss,73.0,0.0,54.0,1.0,60.0,1.0
5,REG3,PIT,Away,Win,36.0,1.0,65.0,2.0,NaN,NaN
6,REG4,JAX,Home,Win,118.0,0.0,77.0,0.0,NaN,NaN
7,REG5,GB,Home,Loss,24.0,0.0,159.0,1.0,32.0,0.0
8,REG6,DET,Away,Win,7.0,0.0,97.0,0.0,44.0,0.0
9,REG7,BAL,Away,Win,39.0,0.0,201.0,1.0,62.0,0.0
10,REG8,NYJ,Away,Loss,69.0,1.0,32.0,1.0,97.0,0.0
11,REG9,CLE,Home,Loss,11.0,0.0,49.0,0.0,78.0,0.0
12,REG10,NaN,NaN,Loss,NaN,NaN,NaN,NaN,NaN,NaN
13,REG11,LV,Away,Win,49.0,0.0,32.0,1.0,15.0,0.0
14,REG12,PIT,Home,Win,13.0,0.0,39.0,0.0,114.0,1.0
15,REG13,LAC,Home,Loss,85.0,0.0,52.0,0.0,138.0,1.0
16,REG14,SF,Home,Loss,55.0,0.0,77.0,2.0,114.0,0.0
17,REG15,DEN,Away,Win,96.0,1.0,3.0,0.0,23.0,0.0
18,REG16,BAL,Home,Win,85.0,1.0,125.0,0.0,194.0,2.0
19,REG17,KC,Home,Win,36.0,1.0,266.0,3.0,62.0,0.0
20,REG18,CLE,Away,Loss,NaN,NaN,26.0,0.0,NaN,NaN
21,POST1,LV,Home,Win,26.0,1.0,116.0,0.0,10.0,0.0
22,POST2,TEN,Away,Win,17.0,0.0,109.0,0.0,96.0,0.0
23,POST3,KC,Away,Win,19.0,0.0,54.0,1.0,103.0,0.0
24,POST4,LAR,Neutral,Loss,48.0,0.0,89.0,0.0,100.0,2.0